{% extends 'bowling_entry/base.html' %}

{% block body_title %}Edit frame {{ frame_id }}{% endblock %}

{% block body %}

    <form method="post" action="{% url 'bowling_entry_frameedit' match.pk game_id frame_id %}">

        {% csrf_token %}

        {% for team, formset in formsets %}
            <h2>{{ team.name }}</h2>
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form.bowler_id }}
                {{ form.bowler_name }}

                {% if frame_id < 10 %}
                    <p>{{ form.bowler_name.value }}: {{ form.score }}  {{ form.split }} SPLIT? {{ form.errors }}</p>
                {% else %}
                    <p>{{ form.bowler_name.value }}: {{ form.score }}
                        {{ form.split10 }} SPLIT First Ball
                        {{ form.split11 }} SPLIT Second Ball
                        {{ form.split12 }} SPLIT Third Ball
                        {{ form.errors }}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}

        <input type="submit">

    </form>

{% endblock %}