{% extends 'bowling_entry/base.html' %}

{% block title %}Edit frame {{ frame_id }} For Bowler{% endblock %}

{% block body_title %}Edit frame {{ frame_id }} For Bowler{% endblock %}

{% block body %}

    <form method="post" action="{% url 'bowling_entry_framebowleredit' match.pk game_id frame_id bowler_id %}">

        {% csrf_token %}


        <h2>{{ team.name }}</h2>

        {{ form.bowler_id }}
        {{ form.bowler_name }}

        {% if frame_id < 10 %}
            <p>{{ form.bowler_name.value }}: {{ form.score }}  {{ form.split }} SPLIT? {{ form.errors }}</p>
        {% else %}
            <p>{{ form.bowler_name.value }}: {{ form.score }}
                {{ form.split10 }} SPLIT First Ball
                {{ form.split11 }} SPLIT Second Ball
                {{ form.split12 }} SPLIT Third Ball
                {{ form.errors }}</p>
        {% endif %}


        <input type="submit">

    </form>

{% endblock %}