{% extends 'bowling_entry/base.html' %}

{% block title %}Game {{ game_id }} Details{% endblock %}

{% block body_title %}Game {{ game_id }} Details{% endblock %}

{% block body %}

    {{ match.date }}

    {% for team, games in game_data %}

        <h1>{{ team.name }}</h1>

        <table style="width:100%">
            <tr>
                <th>Player</th>
                <th>Handicap</th>
                <th><a href="{% url 'bowling_entry_frameedit' match.pk game_id 1 %}">1</a></th>
                <th><a href="{% url 'bowling_entry_frameedit' match.pk game_id 2 %}">2</a></th>
                <th><a href="{% url 'bowling_entry_frameedit' match.pk game_id 3 %}">3</a></th>
                <th><a href="{% url 'bowling_entry_frameedit' match.pk game_id 4 %}">4</a></th>
                <th><a href="{% url 'bowling_entry_frameedit' match.pk game_id 5 %}">5</a></th>
                <th><a href="{% url 'bowling_entry_frameedit' match.pk game_id 6 %}">6</a></th>
                <th><a href="{% url 'bowling_entry_frameedit' match.pk game_id 7 %}">7</a></th>
                <th><a href="{% url 'bowling_entry_frameedit' match.pk game_id 8 %}">8</a></th>
                <th><a href="{% url 'bowling_entry_frameedit' match.pk game_id 9 %}">9</a></th>
                <th><a href="{% url 'bowling_entry_frameedit' match.pk game_id 10 %}">10</a></th>
                <th>Total</th>
            </tr>
            {% for bowler, game in games %}
                {% with splits=game.get_splits %}
                <tr>
                    <td>{{ bowler.name }}</td>
                    <td>{{ bowler.handicap }}</td>
                    <td {% if 0 in splits %}style="color: red"{% endif %}>
                        <a href="{% url 'bowling_entry_framebowleredit' match.pk game_id 1 bowler.id %}">{{ game.frame01 }}</a>
                    </td>
                    <td {% if 1 in splits %}style="color: red"{% endif %}>
                        <a href="{% url 'bowling_entry_framebowleredit' match.pk game_id 2 bowler.id %}">{{ game.frame02 }}</a>
                    </td>
                    <td {% if 2 in splits %}style="color: red"{% endif %}>
                        <a href="{% url 'bowling_entry_framebowleredit' match.pk game_id 3 bowler.id %}">{{ game.frame03 }}</a>
                    </td>
                    <td {% if 3 in splits %}style="color: red"{% endif %}>
                        <a href="{% url 'bowling_entry_framebowleredit' match.pk game_id 4 bowler.id %}">{{ game.frame04 }}</a>
                    </td>
                    <td {% if 4 in splits %}style="color: red"{% endif %}>
                        <a href="{% url 'bowling_entry_framebowleredit' match.pk game_id 5 bowler.id %}">{{ game.frame05 }}</a>
                    </td>
                    <td {% if 5 in splits %}style="color: red"{% endif %}>
                        <a href="{% url 'bowling_entry_framebowleredit' match.pk game_id 6 bowler.id %}">{{ game.frame06 }}</a>
                    </td>
                    <td {% if 6 in splits %}style="color: red"{% endif %}>
                        <a href="{% url 'bowling_entry_framebowleredit' match.pk game_id 7 bowler.id %}">{{ game.frame07 }}</a>
                    </td>
                    <td {% if 7 in splits %}style="color: red"{% endif %}>
                        <a href="{% url 'bowling_entry_framebowleredit' match.pk game_id 8 bowler.id %}">{{ game.frame08 }}</a>
                    </td>
                    <td {% if 8 in splits %}style="color: red"{% endif %}>
                        <a href="{% url 'bowling_entry_framebowleredit' match.pk game_id 9 bowler.id %}">{{ game.frame09 }}</a>
                    </td>
                    <td {% if 10 in splits or 9 in splits or 11 in splits %}style="color: red"{% endif %}>
                        <a href="{% url 'bowling_entry_framebowleredit' match.pk game_id 10 bowler.id %}">{{ game.frame10 }}</a>
                    </td>
                    <td>Total</td>
                </tr>
                {% endwith %}
            {% endfor %}
        </table>

    {% endfor %}

    {% for other_game_id in match.game_range %}
        <p><a href="{% url 'bowling_entry_gamedisplay' match.pk other_game_id %}">Game {{ other_game_id }}</a></p>
    {% endfor %}

    <p><a href="{{ match.get_absolute_url }}">Back to Match</a></p>

{% endblock %}